@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Medium'),
    url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
    url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  font-style: normal;
  src: local('Mulish-Bold'),
    url('../fonts/Mulish-Bold.woff2') format('woff2'),
    url('../fonts/Mulish-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-weight: 600;
  font-style: normal;
  src: local('Mulish-SemiBold'),
    url('../fonts/Mulish-SemiBold.woff2') format('woff2'),
    url('../fonts/Mulish-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-weight: 400;
  font-style: normal;
  src: local('Mulish-Regular'),
    url('../fonts/Mulish-Regular.woff2') format('woff2'),
    url('../fonts/Mulish-Regular.woff') format('woff');
  font-display: swap;
}


