html,
body{
  height: 100%;
}

body{
 
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container{
  max-width: 1196px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  @extend %ml-700;
  font-size: 36px;
  line-height: 45.18px;
  color: $prm-color;
  text-align: center;
}






