@media (max-width: 1200px){
  .trending{
    &__gallery-item{
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
    .slick-dots {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1002px) {
  .first{
    &__list{
      position: absolute;
      z-index: 6;
      transform: translateY(-400%);
      transition: all 0.3s;
      &--active{
        transform: translateY(0);
      }
    }

    &__slider{
     max-width: 100%;
     margin: 12px 0;
    }
    .slick-dots{
      padding-bottom: 15px;
    }
}

.benefits{

  padding-top: 30px;

  &__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 25px;
  }

 
}
.offer{
  &__items{
    grid-template-columns: repeat(1, 1fr);
  }

  &__item{
    height: 300px;
    background-position: 15% 60%;
    &--big{
      width: 100%;
    }
  }
  }

  .articles{

    &__info{
      margin-top: 180px;
    }
    
  }

  .footer{
    &__inner{
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    ul.footer__social{
      margin: 0 auto;
    }
    
    &__text{
      margin: 15px 0 20px;
    }

    &__item{
      padding-top: 20px;
    }

    &__title{
      display: inline-block;
      pointer-events: auto;  /*Восстанавливает функциональность элемента по умолчанию.
 тут применяется для того чтобі включить возможность разворачивать список*/
      padding-right: 25px;
      cursor: pointer;
      position: relative;
      &::after{
        content: '';
        background: url('../images/icon/arrows-title.svg') 0 0 no-repeat;
        position: absolute;
        top: 11px;
        right: -10px;
        width: 20px;
        height: 20px;
        transition: all .5s;
      }
     }
    .footer__title.active{
      position: relative;
      &::after{
          transform: rotateX(180deg);
      }
      }

    &__item-list{
      display: none;
    }
  }

  .logo{
    &__img-footer{
      display: inline;
    }
  }
}



  

@media (max-width: 902px){
  .header-top{
    &__inner{
      flex-direction: column;
      
    }
    &__form{
      text-align: center;
      margin-bottom: 10px;
    }
    &__greeting{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }
    &__sign{
      margin-left: 0;
      padding-left: 10px;
      
    }

  }

  .menu{
    &__list{
    flex-direction: column;
    align-items: center;
    background-color: rgba(235, 238, 243, 0.9);
    position: absolute;
    top: 240px;
    width: 100%;
    left: 0;
    transition: all 0.3s;
    z-index: 6;
    transform: translateY(-300%);
    &--active{
      transform: translateY(0);
    }
    }

    .menu__list-item+.menu__list-item {
    margin-left: 0px;
  }

  &__list-item{

    margin: 20px 0;
  }

  
      &__btn{
      border: none;
      background-color: transparent;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 30px;
      margin-left: auto;
      position: relative;
      z-index: 6;
      cursor: pointer;
      span{
        width: 100%;
        height: 3px;
        background-color: $main-color;
      } 
      &::after,
      &::before{
        content: '';
        background-color: $main-color;
        position: absolute;
        width: 100%;
        height: 3px;
      }
       &::before{
          top: 0;
        }
        &::after{
          bottom: 0;
        }
         
    }
  }

  .header-bottom{
    &__form{
      order: 1;
      margin: 0 auto;
    }
  }

  .trending{
    &__top{
    margin-bottom: 30px;
    flex-direction: column;
    
    }

    &__gallery-item{
      grid-template-columns: repeat(2, 1fr);
      
    }

    .trending__btn+.trending__btn {
    margin-left: 0;
    margin-top: 10px;
}

 
  }

  .special{
    &__item{
      background-position: 10% 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .products{
    &__btn{
      margin-top: 10px;
    }

     .products__btn+.products__btn {
    margin-left: 0;
    }

    &__gallery{
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
  }
}

@media (max-width: 782px) {
  .header-bottom{
    &__inner{
      padding-top: 20px;
    }
    &__form{
      margin: 15px auto;
    }
  }
  .menu{
    &__list{
      top: 283px;

    }
  }
  .first{
    &__slider-thumb-images{
      display: none;
    }
  }

  .trending{
      &__gallery-item{
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  .special {

    &__items{
      flex-direction: column;
    }
    
    &__item{
      max-width: 100%;
      height: 300px;
    }
  }

  .products{
     &__gallery{
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }

  .reviews{
    &__item{
      margin: 44px 10px 0;
    }

    &__text{
      padding: 60px 10px 20px;
      margin: 0 auto;
    }
  }

  .articles{
    &__items{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }

    &__item{
      
      max-width: 100%;
    }
  }

  .footer{
&__bottom-inner{
  flex-direction: column;
  justify-content: space-evenly;
}

    .footer__bottom-item+.footer__bottom-item{
      margin-left: 25px;
    }
  }

  .offer,
  .trending,
  .special,
  .products,
  .reviews,
  .articles,
  .contact,
  .footer{
    padding-top: 60px;
  }

  .special__title,
  .trending__title-main,
  .products__main-title,
  .reviews__main-title,
  .articles__main-title,
  .form__title{
    margin-bottom: 24px;
  }
}




@media (max-width: 660px) {
  .first{
    &__slider-main-image{
      display: none;
    }
  }

  .benefits{
    &__list{
      grid-template-columns: repeat(1, 1fr);
    }
    
  }

   .offer{
    &__item{
    height: 230px;
    background-position: 102% 60%;
    padding: 10px;
  }
  }

  .contact{
    .select .jq-selectbox__select{
      width: 272px;
    }
  }
 
}


@media (max-width: 451px) {
  .menu{
    &__list{

      top: 302px;

    }
  }
   .special{

    &__item{
      height: 260px;
    }
  }

  .products{
    &__gallery{
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .reviews{
    .swiper-button-prev,
.swiper-button-next {
  top: 5%;
}

.swiper-button-prev::after{
color: transparent;
  background: url('../images/icon/arrow-prev.svg') 50% 50%/contain no-repeat;
}

.swiper-button-next::after{
   color: transparent;
    background: url('../images/icon/arrow-next.svg') 50% 50%/contain no-repeat;
} 
  }

  .articles{

    &__item{
      padding-left: 20px;
      padding-right: 10px;
      height: 350px;
     
    }
    &__info{
      margin-top: 50px;
    }

    &__title{
      font-size: 30px;
      line-height: 33px;
    }
  }
}

@media (max-width: 425px) {
  .header-bottom{
    &__nav{
     margin: 0 1px 0 auto;
    }
    &__input{
      width: 130px;
    }

   .jq-selectbox__select{
     width: 110px;
   }

   .icon{
     width: 24px;
     height: 26px;
   }

   &__btn{
     width: 42px;
   }
  }

  .header-bar__btn{
    margin-right: 20px;
  }

  .first{

    &__slider-content{
      margin-left: 15px;
      padding-top: 40px;
    }

    &__slider-suptitle{
      font-size: 18px;
      line-height: 20px;
    }

    &__slider-title{
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 15px;
    }

    &__slider-text{
      font-size: 19px;
      line-height: 24px;
    }
    &__slider-btn{
      margin-bottom: 15px;
    }
    
  }
   
  .footer{
    padding-top: 30px;

    &__inner{
      margin-bottom: 15px;
    }
  }
}


@media (max-width: 400px) {
  .header-bar{
    &__btn{
      &::before{
        left: 20px;
      }
    }
  }
  .menu{
    &__list{

      top: 321px;

    }
  }
}