@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {}

.header-top {
  background-color: $main-color;


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    @extend %rb-400;
    color: #fff;
    font-size: 16px;
    line-height: 18.96px;
  }

  &__greeting {}

  &__form {}

  &__select {}

  .jq-selectbox__select {
    background: linear-gradient(#8499B7, #8499B7);
    border: 1px solid $main-color;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    @extend %rb-400;
    font-size: 16px;
    padding: 0 28px;

    &:active {}
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid $main-color;
  }

  .jq-selectbox__trigger {
    width: 28px;
    border-left: none;

  }

  .jq-selectbox__trigger-arrow {
    border-top: none;

    &::before {
      content: '';
      background: url('../images/icon/select-headertop.svg') 0 0 no-repeat;
      position: absolute;
      top: -3px;
      left: -4px;
      width: 12px;
      height: 8px;
    }
  }

  .jq-selectbox .placeholder {
    color: #fff;
  }

  .jq-selectbox__dropdown {
    background-color: $main-color;
    @extend %rb-400;
    font-size: 16px;
  }

  .jq-selectbox li {
    background-color: $main-color;
  }

  .jq-selectbox li.selected {
    background-color: $main-color;

  }

  .jq-selectbox li:hover {

    color: #fff;
  }


  &__sign {
    @extend %rb-400;
    color: #fff;
    font-size: 16px;
    line-height: 18.96px;
    position: relative;
    margin-left: 12px;
    padding-left: 22px;

    &::before {
      content: '';
      background: #fff;
      position: absolute;
      top: 2px;
      left: 0;
      width: 2.2px;
      height: 17px;
    }
  }
}

.header-bottom {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 92px;
  }

  &__form {
    display: flex;
    margin-left: 120px;
    margin-right: auto;
    max-width: 582px;
    height: 46px;
  }

  &__input {
    border: 2px solid $main-color;
    border-radius: 8px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 15px 10px 14px 25px;
    @extend %rb-400;
    font-size: 14px;
    line-height: 16.59px;
    color: #b0b0b0;
    outline: none;
  }

  .jq-selectbox__select {
    height: 46px;
    width: 123px;
    background: linear-gradient(#fff, #fff);
    box-shadow: none;
    border: 2px solid $main-color;
    border-left: none;
    border-right: none;
    border-radius: 0;
    @extend %rb-400;
    font-size: 14px;
    color: $prm-color;
    padding: 4px 1px 14px 10px;

    &::before {
      content: '';
      background: #E3E3E3C7;
      position: absolute;
      top: 0;
      left: 0;
      width: 1.5px;
      height: 42px;
    }
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: 2px solid $main-color;
    border-left: none;
    border-right: none;
  }

  .jq-selectbox__trigger {
    width: 47.34px;
    border-left: none;

  }

  .jq-selectbox__dropdown {

    @extend %rb-400;
    font-size: 14px;
  }

  .jq-selectbox__trigger-arrow {
    border-top: none;

    &::before {
      content: '';
      background: url('../images/icon/select-headerbottom.svg') 0 0 no-repeat;
      position: absolute;
      top: 4px;
      left: -10px;
      width: 8.76px;
      height: 7.71px;
    }
  }

  .jq-selectbox li {
    background-color: #fff;
    color: $prm-color;
  }

  .jq-selectbox li.selected {
    color: $prm-color;

  }

  .jq-selectbox li:hover {
    background-color: $main-color;
    color: #fff;
  }

  &__btn {
    border: 2px solid $main-color;
    border-radius: 0px 7px 6px 0px;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 46px;
    cursor: pointer;
  }


  &__nav-list {
    display: flex;
  }

  .header-bottom__nav-item+.header-bottom__nav-item {
    margin-left: 21px;
  }

  &__nav-link--shop {
    position: relative;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      top: -16px;
      right: -5px;
      @extend %rb-400;
      font-size: 7px;
      line-height: 8.3px;
      color: #fff;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $main-color;

    }

  }

  use.ic1 {
    transition: all 0.5s;
    fill: $prm-color;
    stroke: $prm-color;
  }

  .header-bottom__nav-link {

    &:hover use.ic1 {
      fill: $main-color;
      stroke: $main-color;
    }
  }
}

.logo {

  &__link {}

  &__img {}
}

.icon {}

.ic1 {}

.header-bar {
  background: #F7F8FA;

  &__inner {
    min-height: 67px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__btn {
    width: 260px;
    height: 67px;
    background: $main-color;
    border: none;
    color: #fff;
    @extend %rb-500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 15px 10px 10px 0px;
    cursor: pointer;
    margin-right: 82px;
    position: relative;

    &::before {
      content: '';
      background: url('../images/icon/select-menu.svg') 0 0 no-repeat;
      position: absolute;
      top: 27px;
      left: 30px;
      width: 24px;
      height: 24px;
    }
  }


}

.menu {

  &__btn {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list-item {}

  .menu__list-item+.menu__list-item {
    margin-left: 65px;
  }

  &__list-link {
    @extend %rb-400;
    font-size: 14px;
    line-height: 16.59px;
    color: $prm-color;
    transition: all .5s;

    &:hover {
      color: $main-color
    }
  }

  &__list-link--active {
    color: $main-color
  }
}

.first {

  &__inner {
    display: flex;
    justify-content: space-between;

  }

  &__list {
    background: #F7F8FA;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 457px;
  }

  &__list-item {
    padding: 10px 28px 12px;
    height: 44px;
    width: 260px;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: $main-color;

    }

    &:hover .first__list-link {
      color: #fff;
    }
  }

  .first__list-item+.first__list-item {
    border-top: 0.8px solid #E3E3e3;
  }

  &__list-link {
    @extend %rb-400;
    font-size: 14px;
    line-height: 16.59px;
    letter-spacing: 0.02em;
    color: $prm-color;
    transition: all .3s;

  }

  &__slider {
    background-color: #f2fbff;
    margin: 12px 0 0 11px;
    min-width: 0;
    max-width: 894px;
  }

  &__slider-item {}

  &__slider-inner {
    display: flex;
  }

  &__slider-content {
    padding-top: 73px;
    margin-left: 47px;
  }

  &__slider-suptitle {
    margin-bottom: 6px;
    @extend %rb-400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $main-color;
  }

  &__slider-title {
    @extend %rb-500;
    font-size: 40px;
    line-height: 47.4px;
    color: #2f2f2f;
    max-width: 344px;
    margin-bottom: 27px;
    position: relative;

    &::after {
      content: '';
      background: url('../images/slider/title-line.png') 0 0 no-repeat;
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 191px;
      height: 6px;
    }
  }

  &__slider-text {
    max-width: 324px;
    @extend %ml-600;
    font-size: 27px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
    margin-bottom: 21px;
  }

  &__slider-btn {
    display: inline-block;
    background-color: $main-color;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 36px;
    @extend %ml-700;
    font-size: 16px;
    line-height: 20.1px;
  }

  &__slider-main-image {
    padding-top: 36px;
  }

  &__slider-main-img {}

  &__slider-thumb-images {
    margin-top: 58px;
    margin-right: 39px;
  }

  &__slider-thumb-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 98px;
    height: 91.47px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
    border: 2px solid #FFFFFF;
    margin-bottom: 23px;
    border-radius: 8px;
    @extend %rb-500;
  }

  &__slider-thumb-img {
    margin-top: auto;
  }

  &__slider-span {
    font-size: 11px;
    line-height: 14px;
    color: $main-color;

  }

  &__slider-thumb-title {
    margin-bottom: 4.5px;
    font-size: 7px;
    line-height: 9px;
    color: $prm-color
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      margin-left: 15px;

      button {
        width: 12px;
        height: 12px;
        background: rgba(132, 153, 183, 0.29);
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: none;
      }

      &.slick-active {
        button {
          background: $main-color;
          width: 24px;
          height: 9px;
          border-radius: 666px;
        }
      }
    }

  }
}

.benefits {
  padding-top: 64px;

  &__inner {
    min-height: 58px
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {}

  &__link {
    display: flex;
  }

  &__img {}

  &__content {
    margin-left: 15px;
  }

  &__title {
    @extend %rb-500;
    font-size: 20px;
    line-height: 26px;
    color: $prm-color;
  }

  &__text {
    @extend %rb-400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);

  }
}

.offer {
  padding-top: 70px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-column-gap: 19px;
    grid-row-gap: 17px;
  }

  &__item {
    height: 247px;
    width: 100%;
    padding: 52px 24px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item--big {
    grid-row: span 2;
    height: 511px;
    width: 669px;
    padding: 49px 31px;

  }

  &__category {
    @extend %ml-600;
    font-size: 22px;
    line-height: 27.61px;
    color: $prm-color;
    margin-bottom: 8px;
    display: block;
  }

  &__discounts {
    @extend %ml-600;
    font-size: 20px;
    line-height: 26px;
    color: $main-color;
    margin-bottom: 9px;
    display: block;
  }

  &__more {
    @extend %ml-400;
    font-size: 16px;
    line-height: 26px;
    color: #757575;
    padding-right: 16px;
    position: relative;

    &::after {
      content: '';
      background: url('../images/icon/arrows.svg') 0 0 no-repeat;
      position: absolute;
      top: 7px;
      right: 0;
      width: 12px;
      height: 9px;
    }
  }
}


.trending {
  padding: 120px;

  &__inner {}

  &__title-main {
    margin-bottom: 45px;
  }

  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 73px;
  }

  &__btn {
    background-color: transparent;
    padding: 0;
    border: none;
    @extend %ml-600;
    font-size: 24px;
    line-height: 30.12px;
    color: #c2c2c2;
    transition: all .4s;
    cursor: pointer;

    &--active {
      color: $main-color;

    }

    &:hover {
      color: #8894a5;
    }
  }

  .trending__btn+.trending__btn {
    margin-left: 60px;
  }

  &__gallery {}

  &__gallery-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  &__item {
    max-width: 270px;
    height: 387px;


  }

  &__images {
    position: relative;
  }

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 44.68px;
    height: 20.42px;
    left: 0;
    top: 0;
    background: #00B7F1;
    border-radius: 0px 0px 5px 0px;
    color: #fff;
    @extend %ml-600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.008em;
  }


  &__banner--sale {
    background: #7AC751;
  }

  &__img {
    margin-bottom: 15px;

  }

  &__hover {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: all .3s;

    &:hover {
      background: rgba(117, 117, 117, 0.3);
    }

    &:hover .trending__hover-box {
      opacity: 1;
    }
  }

  &__hover-box {
    display: flex;
    flex-direction: column;
    padding: 0 7px 15px 0;
    opacity: 0;

  }

  &__favorite,
  &__shop,
  &__refresh,
  &__view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38.85px;
    height: 38.89px;
    border-radius: 50%;
    left: 659.35px;
    top: 1771.4px;
    background: #FFFFFF;
    box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
    margin-top: 8.75px;
    transition: all .4s;

    &:hover {
      background-color: $main-color;
    }

    use.ic1 {
      fill: #757575;
      transition: all .6s;
    }

    &:hover use.ic1 {
      fill: #fff;
    }
  }



  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__position {
    margin-bottom: 9px;
    @extend %ml-400;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: rgba(117, 117, 117, 0.71);
  }

  &__title {
    margin-bottom: 8px;
    @extend %rb-400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: $prm-color;
  }

  &__content-box {
    display: flex;
    justify-content: space-between;
  }

  &__prices {}

  &__hew-price {
    color: $main-color;
    @extend %ml-400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.005em;
  }

  &__old-price {
    letter-spacing: 0.005em;
    text-decoration-line: line-through;
    @extend %ml-400;
    color: #CCCCCC;
    font-size: 18px;
    line-height: 120%;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 55px;

    li {
      margin-left: 14px;

      button {
        background-color: transparent;
        font-size: 0;
        padding: 0;
        border: 4px solid #cccccc;
        width: 24px;
        height: 24px;
        border-radius: 50%;

        transition: all .4s;
        position: relative;

        &::before {
          content: '';
          background: #cccccc;
          position: absolute;
          top: 4px;
          left: 4px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }

      &.slick-active {
        button {
          border: 4px solid $main-color;

          &::before {
            background-color: $main-color
          }
        }
      }
    }
  }
}

.special {

  &__inner {}

  &__title {
    margin-bottom: 62px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 570px;
    height: 249px;
    width: 100%;
    padding: 28px 24px;
    position: relative;
  }

  &__banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00B7F1;
    border-radius: 0px 0px 5px 0px;
    letter-spacing: 0.008em;
    @extend %ml-600;
    font-size: 12px;
    line-height: 15.6px;
    color: #FFFFFF;

  }

  &__content {
    max-width: 227px;
  }

  &__content-title {
    @extend %ml-600;
    font-size: 22px;
    line-height: 27.61px;
    color: $prm-color;
    margin-bottom: 11px;
  }

  &__text {
    margin-bottom: 20px;
    @extend %ml-400;
    font-size: 12px;
    line-height: 18px;
    color: #757575;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  &__prices {}

  &__new {}

  &__old {}

  &__btn {
    display: inline-block;
    border-radius: 2px;
    background-color: $main-color;
    padding: 7px 20px 6px;
    @extend %ml-700;
    color: #fff;
    font-size: 12px;
    line-height: 15.06px;
  }

  &__clock {
    display: flex;
    justify-content: space-between;
  }

  &__clock-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @extend %rb-500;
    color: #fff;
  }

  &__clock-days,
  &__clock-hours,
  &__clock-minutes,
  &__clock-seconds {

    font-size: 14px;
    line-height: 16.8px;
  }

  &__clock-text {
    font-size: 6px;
    line-height: 7.2px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
  }



  .trending {

    &__hew-price {}

    &__old-price {}
  }
}

.products {
  padding-top: 120px;

  &__inner {}

  &__main-title {
    margin-bottom: 45px;
  }

  &__top {}

  .products__btn+.products__btn {
    margin-left: 60px;
  }

  &__btn {
    &--active{
      color: $main-color;
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  &__item {
    max-width: 270px;
    height: 387px;
  }

  &__images {}

  .trending__banner--discount {
    background-color: #FF6868;
  }

 
}

.reviews {
    padding-top: 120px;
    
		&__main-title {
      margin-bottom: 90px;
		}

		&__swiper {
		}

    &__item{
        position: relative;
        max-width: 816px;
        min-height: 312px;
        background: #F8FAFB;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        text-align: center;
        letter-spacing: 0.005em;
        margin: 44px 94px 0;
    }

		&__img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
		}

		&__text {
      padding-top: 80px;
      margin: 0 auto 56px;
      max-width: 566px;
      text-align: center;
      @extend %dm-400;
      font-size: 16px;
      line-height: 24px;
      color: #515151;
    }

		&__name {
      @extend %ml-600;
      color: $prm-color;
      font-size: 24px;
      line-height: 28.8px;
       margin-bottom: 8px;
		}

		&__position {
      margin-bottom: 47px;
      @extend %rb-400;
      font-size: 16px;
      line-height: 20px;
      color: #515151;
		}
}

.swiper {
  max-width: 1004px;
  height: 356px;
		&__wrapper {
		}
}
.swiper-slide {

  margin: 0 auto;
}
.swiper-button-prev,
.swiper-button-next {
  top: 60%;
}
 .swiper-button-prev{
   left: 0;
 }

 .swiper-button-next{
   right: 0;
 }

.swiper-button-prev::after{
color: transparent;
  background: url('../images/icon/arrow-prev.svg') 50% 50%/cover no-repeat;
}

.swiper-button-next::after{
   color: transparent;
    background: url('../images/icon/arrow-next.svg') 50% 50%/cover no-repeat;
} 


.articles {
  padding-top: 115px;


		&__inner {
		}

		&__main-title {
      margin-bottom: 56px;
		}

		&__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 22px 26.5px;
		}

		&__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      width: 569.75px;
      height: 455.28px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-left: 44px;
      color: #fff;
		}

		&__info {
      display: flex;
      margin-bottom: 21px;
       margin-top: 252px;
		}

		&__lable {
     
      margin-right: 10px;
      width: 100px;
      height: 24px;
      border-radius: 3px;
      background-color: #f8fafb;
      color: $main-color;
      display: flex;
      
      align-items: center;
      position: relative;
      padding-left: 30px;
      &::before{
        content: '';
        background: url('../images/icon/tag.svg') 0 0 no-repeat;
        position: absolute;
        top: 7px;
        left: 10px;
        width: 13.15px;
        height: 13.3px;
      }
		}

		&__data {
      @extend %ml-400;
      font-size: 14px;
      line-height: 18.2px;
      letter-spacing: 0.008em;
      
		}

		&__title {
      @extend %ml-700;
      font-size: 39px;
      line-height: 46.8px;
      letter-spacing: 0.005em;
      margin-bottom: auto;
		}

		&__link {
      margin-bottom: 30.4px;
      @extend %ml-600;
      font-size: 14px;
      line-height: 18.2px;
      letter-spacing: 0.008em;
      color: #fff;

		}
}

.footer {
  padding-top: 115px;

		&__inner {
       display: flex;
      justify-content: space-between;
      margin-bottom: 51px;
		}

		&__top {
     border-bottom: 1px solid rgba(150, 150, 150, 1);

		}

		&__info {
      max-width: 318px;
		}

		&__text {
      margin: 15px 0 40px;
      @extend %rb-400;
      font-size: 16px;
      line-height: 32px;
      color: #555555;
		}

		&__social {
      max-width: 174px;
      display: flex;
      justify-content: space-between;
		}

		&__social-item {
		}

		&__social-link {
		}

		&__item {
		}

		&__title {
      @extend %rb-500;
      font-size: 18px;
      line-height: 40px;
      letter-spacing: 1%;
      color: #555555;
      margin-bottom: 10px;
		}

		&__item-list {
		}

		&__item-li {
		}

		&__item-link {
      display: block;
      @extend %rb-400;
      font-size: 18px;
      line-height: 40px;
      letter-spacing: 0.01em;
      color: #555555;
		}

		&__bottom {
      
		}

		&__bottom-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 82px;
		}

		&__bottom-copy {
      @extend %rb-400;
      font-size: 14px;
      line-height: 14px;
      color: #555555;
		}

		&__bottom-info {
      display: flex;
		}

    .footer__bottom-item+.footer__bottom-item{
      margin-left: 52px;
    }

		&__bottom-item {
		}

		&__bottom-link {
      display: block;
      @extend %rb-400;
      font-size: 14px;
      line-height: 14px;
      color: #555555;
		}
}
.container {
}
.logo {

		&__link {
		}

		&__img {
		}
}






@import 'media';