@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {}

.header-top {
  background-color: $main-color;


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    @extend %rb-400;
    color: #fff;
    font-size: 16px;
    line-height: 18.96px;
  }

  &__greeting {}

  &__form {}

  &__select {}

  .jq-selectbox__select {
    background: linear-gradient(#8499B7, #8499B7);
    border: 1px solid $main-color;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    @extend %rb-400;
    font-size: 16px;
    padding: 0 28px;

    &:active {}
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid $main-color;
  }

  .jq-selectbox__trigger {
    width: 28px;
    border-left: none;

  }

  .jq-selectbox__trigger-arrow {
    border-top: none;

    &::before {
      content: '';
      background: url('../images/icon/select-headertop.svg') 0 0 no-repeat;
      position: absolute;
      top: -3px;
      left: -4px;
      width: 12px;
      height: 8px;
    }
  }

  .jq-selectbox .placeholder {
    color: #fff;
  }

  .jq-selectbox__dropdown {
    background-color: $main-color;
    @extend %rb-400;
    font-size: 16px;
  }

  .jq-selectbox li {
    background-color: $main-color;
  }

  .jq-selectbox li.selected {
    background-color: $main-color;

  }

  .jq-selectbox li:hover {

    color: #fff;
  }


  &__sign {
    @extend %rb-400;
    color: #fff;
    font-size: 16px;
    line-height: 18.96px;
    position: relative;
    margin-left: 12px;
    padding-left: 22px;

    &::before {
      content: '';
      background: #fff;
      position: absolute;
      top: 2px;
      left: 0;
      width: 2.2px;
      height: 17px;
    }
  }
}

.header-bottom {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 92px;
  }

  &__form {
    display: flex;
    margin-left: 120px;
    margin-right: auto;
    max-width: 582px;
    height: 46px;
  }

  &__input {
    border: 2px solid $main-color;
    border-radius: 8px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 15px 10px 14px 25px;
    @extend %rb-400;
    font-size: 14px;
    line-height: 16.59px;
    color: #b0b0b0;
    outline: none;
  }

  .jq-selectbox__select {
    height: 46px;
    width: 123px;
    background: linear-gradient(#fff, #fff);
    box-shadow: none;
    border: 2px solid $main-color;
    border-left: none;
    border-right: none;
    border-radius: 0;
    @extend %rb-400;
    font-size: 14px;
    color: $prm-color;
    padding: 4px 1px 14px 10px;

    &::before {
      content: '';
      background: #E3E3E3C7;
      position: absolute;
      top: 0;
      left: 0;
      width: 1.5px;
      height: 42px;
    }
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: 2px solid $main-color;
    border-left: none;
    border-right: none;
  }

  .jq-selectbox__trigger {
    width: 47.34px;
    border-left: none;

  }

  .jq-selectbox__dropdown {

    @extend %rb-400;
    font-size: 14px;
  }

  .jq-selectbox__trigger-arrow {
    border-top: none;

    &::before {
      content: '';
      background: url('../images/icon/select-headerbottom.svg') 0 0 no-repeat;
      position: absolute;
      top: 4px;
      left: -10px;
      width: 8.76px;
      height: 7.71px;
    }
  }

  .jq-selectbox li {
    background-color: #fff;
    color: $prm-color;
  }

  .jq-selectbox li.selected {
    color: $prm-color;

  }

  .jq-selectbox li:hover {
    background-color: $main-color;
    color: #fff;
  }

  &__btn {
    border: 2px solid $main-color;
    border-radius: 0px 7px 6px 0px;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 46px;
    cursor: pointer;
  }


  &__nav-list {
    display: flex;
  }

  .header-bottom__nav-item+.header-bottom__nav-item {
    margin-left: 21px;
  }

  &__nav-link--shop {
    position: relative;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      top: -16px;
      right: -5px;
      @extend %rb-400;
      font-size: 7px;
      line-height: 8.3px;
      color: #fff;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $main-color;

    }

  }

  use.ic1 {
    transition: all 0.5s;
    fill: $prm-color;
    stroke: $prm-color;
  }

  .header-bottom__nav-link {

    &:hover use.ic1 {
      fill: $main-color;
      stroke: $main-color;
    }
  }
}

.logo {

  &__link {}

  &__img {}
}

.icon {}

.ic1 {}

.header-bar {
  background: #F7F8FA;

  &__inner {
    min-height: 67px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__btn {
    width: 260px;
    height: 67px;
    background: $main-color;
    border: none;
    color: #fff;
    @extend %rb-500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 15px 10px 10px 0px;
    cursor: pointer;
    margin-right: 82px;
    position: relative;

    &::before {
      content: '';
      background: url('../images/icon/select-menu.svg') 0 0 no-repeat;
      position: absolute;
      top: 27px;
      left: 30px;
      width: 24px;
      height: 24px;
    }
  }


}

.menu {

  &__btn {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list-item {}

  .menu__list-item+.menu__list-item {
    margin-left: 65px;
  }

  &__list-link {
    @extend %rb-400;
    font-size: 14px;
    line-height: 16.59px;
    color: $prm-color;
    transition: all .5s;

    &:hover {
      color: $main-color
    }
  }

  &__list-link--active {
    color: $main-color
  }
}

.first {
  
  &__inner {
    display: flex;
    justify-content: space-between;
   
  }

  &__list {
    background: #F7F8FA;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 457px;
  }

  &__list-item {
    padding: 10px 28px 12px;
    height: 44px;
    width: 260px;
    transition: all .3s;
    cursor: pointer;
    &:hover{
      background-color: $main-color;
      
    }
    &:hover .first__list-link{
      color: #fff;
    }
  }

  .first__list-item+.first__list-item {
    border-top: 0.8px solid #E3E3e3;
  }

  &__list-link {
    @extend %rb-400;
    font-size: 14px;
    line-height: 16.59px;
    letter-spacing: 0.02em;
    color: $prm-color;
    transition: all .3s;
   
  }

  &__slider {
    background-color: #f2fbff;
    margin: 12px 0 0 11px;
    min-width: 0;
    max-width: 894px;
  }

  &__slider-item {}

  &__slider-inner {
    display: flex;
  }

  &__slider-content {
    padding-top: 73px;
    margin-left: 47px;
  }

  &__slider-suptitle {
    margin-bottom: 6px;
    @extend %rb-400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $main-color;
  }

  &__slider-title {
    @extend %rb-500;
    font-size: 40px;
    line-height: 47.4px;
    color: #2f2f2f;
    max-width: 344px;
    margin-bottom: 27px;
    position: relative;

    &::after {
      content: '';
      background: url('../images/slider/title-line.png') 0 0 no-repeat;
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 191px;
      height: 6px;
    }
  }

  &__slider-text {
    max-width: 324px;
    @extend %ml-600;
    font-size: 27px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
    margin-bottom: 21px;
  }

  &__slider-btn {
    display: inline-block;
    background-color: $main-color;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 36px;
    @extend %ml-700;
    font-size: 16px;
    line-height: 20.1px;
  }

  &__slider-main-image {
    padding-top: 36px;
  }

  &__slider-main-img {}

  &__slider-thumb-images {
    margin-top: 58px;
    margin-right: 39px;
  }

  &__slider-thumb-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 98px;
    height: 91.47px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
    border: 2px solid #FFFFFF;
    margin-bottom: 23px;
    border-radius: 8px;
    @extend %rb-500;
  }

  &__slider-thumb-img {
    margin-top: auto;
  }

  &__slider-span {
    font-size: 11px;
    line-height: 14px;
    color: $main-color;

  }

  &__slider-thumb-title {
    margin-bottom: 4.5px;
    font-size: 7px;
    line-height: 9px;
    color: $prm-color
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      margin-left: 15px;

      button {
        width: 12px;
        height: 12px;
        background: rgba(132, 153, 183, 0.29);
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: none;
      }

      &.slick-active {
        button {
          background: $main-color;
          width: 24px;
          height: 9px;
          border-radius: 666px;
        }
      }
    }

  }
}

.benefits {
  padding-top: 64px;
		&__inner {
      min-height: 58px
		}

		&__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
		}

		&__item {
     
		}

		&__link {
       display: flex;
		}

		&__img {

		}

    &__content{
      margin-left: 15px;
    }

		&__title {
      @extend %rb-500;
      font-size: 20px;
      line-height: 26px;
      color: $prm-color;
		}

		&__text {
      @extend %rb-400;
      font-size: 14px;
      line-height: 26px;
      color: rgba(81, 81, 81, 0.71);

		}
}

.offer {
  padding-top: 70px;
		&__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
      grid-column-gap: 19px;
      grid-row-gap: 17px;
		}

		&__item {
      height: 247px;
     width: 100%;
     padding: 52px 24px;
     background-repeat: no-repeat;
     background-size: cover;
		}

		&__item--big {
      grid-row: span 2;
      height: 511px;
     width: 669px;
     padding: 49px 31px;
     
		}

		&__category {
      @extend %ml-600;
      font-size: 22px;
      line-height: 27.61px;
      color: $prm-color;
      margin-bottom: 8px;
      display: block;
		}

		&__discounts {
      @extend %ml-600;
      font-size: 20px;
      line-height: 26px;
      color: $main-color;
      margin-bottom: 9px;
      display: block;
		}

		&__more {
      @extend %ml-400;
      font-size: 16px;
      line-height: 26px;
      color: #757575;
      padding-right: 16px;
      position: relative;
      &::after{
        content: '';
        background: url('../images/icon/arrows.svg') 0 0 no-repeat;
        position: absolute;
        top: 7px;
        right: 0;
        width: 12px;
        height: 9px;
      }
		}
}
.container {
}





  @import 'media';